/* common shared style   */
body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;


}


.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 20px;


}

/* nav related styles    */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 200px;


}

.nav-tytle {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    
}
.banner .profile-pic{
    width: 300px;
}

